body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
button {
  font-family: inherit;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
li {
  list-style: none;
}
/* ----------------------МОДЕЛЬНОЕ ОКНО---------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  
}
.backdrop.is-hidden .modal {
  transform: translate(-50%,-50%) scale(0.9);
}
.modal {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1);;

    min-width: 528px;
  min-height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero-sect-closed {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  height: 30px;
  width: 30px;
  padding: 0px 0px 0px 0px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.icon-close-black {
  content: "";
  width: 18px;
}
/* ----------------------основные правила-------------------- */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
}
.link-portf a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*Тут шрифт для лого в Хедере и в футере */
.title-hd,
.logo-name-ft {
  font-family: "Raleway", sans-serif;
}
/*----------------------------Хедер----------------------------*/
.header {
  border-bottom: 1px solid #ececec;
}

.header-cont {
  display: flex;
  align-items: center;
}

/*----------------------------Лого----------------------------*/
.title-hd,
.title-hd-st {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.title-hd {
  color: #2196f3;
}
.title-hd-st {
  color: #000000;
}
.header-logo-cont {
  margin-right: 93px;
}
/*----------------------------Меню навигации сайта----------------------------*/
.nav-list {
  display: flex;
}
.nav-item {
  position: relative;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.cont-container {
  margin-left: auto;
}
.cont-menu-container {
  display: flex;
}
.nav-cont-item:not(:last-child) {
  margin-right: 50px;
}
.link-hd-cont {
  display: flex;
  align-items: center;
}
.nav-sect-hd .link-hd,
.link-hd-cont {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-hd {
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-hd,
.nav-sect-hd .link-hd,
.link-hd-cont {
  text-decoration: none;
}
.link-hd-cont {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-hd:hover,
.link-hd-cont:hover,
.link-hd:focus,
.link-hd-cont:focus {
  color: #2196f3;
}
.link-hd.current {
  color: #2196f3;
}
.link-hd.current::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: -1px;
}
.icon-header {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-hd-cont:hover .icon-header,.link-hd-cont:focus .icon-header {
  fill:#2196f3;
}
/*----------------------------Главная Секция----------------------------*/
.hero-cont {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-text-sect {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/Studio/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-hero-sect {
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  letter-spacing: 0.06em;
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px 10px 32px;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-hero-sect:hover,
.button-hero-sect:focus {
  background-color: #188ce8;
}
.char-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.char-text-p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.list-block-cont {
  display: flex;
}
.list-pre-title {
  width: 270px;
}
.list-pre-title::before {
  content: "";
  margin-bottom: 30px;
  height: 120px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
.icon-antenna.list-pre-title::before {
  content: "";
  background-image: url(../images/Studio/antenna.svg);
}
.icon-clock.list-pre-title::before {
  content: "";
  background-image: url(../images/Studio/clock.svg);
}.icon-diagram.list-pre-title::before {
  content: "";
  background-image: url(../images/Studio/diagram.svg);
}.icon-astronaut.list-pre-title::before {
  content: "";
  background-image: url(../images/Studio/astronaut.svg);
}
.list-pre-title:not(:last-child) {
  margin-right: 30px;
}
.section-block-cont {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*----------------------------Чем мы занимаемся----------------------------*/
.our-works-pre-position-cont {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);;
  width: 100%;
  height: 70px;
  bottom: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ow-text-position-cont{
position:absolute;
overflow: hidden;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;

}
.our-works-position-cont {
  position: relative;
}
.our-works-container {
  padding-bottom: 94px;
}
.our-works {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.list-our-works {
  display: flex;
}

.our-works-photo:not(:last-child) {
  margin-right: 30px;
  width: 370px;
}
/*----------------------------Наша команда----------------------------*/
.item-team-container:not(:last-child) {
  margin-right: 30px;
  width: 270px;
}
.team-list-container {
  display: flex;
}
.team-cards {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: 0px;
}
.our-team-sect {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-text {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 10px;
}
.team-text-p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: #757575;
}
.text-team-cont {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-link-list {
  display: flex;
  justify-content: center;
}
.social-link-item{
  width: 44px;
  height: 44px;
}
.social-link-item:not(:last-child) {
  margin-right: 10px;
}
.social-link{
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.social-link, .social-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #AFB1B8
}
.social-link:hover,
.social-link:focus {
  background-color: #2196F3;
  fill: #ffffff;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}
/* --------------------------Клиенты--------------------------- */
.clients-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  width: 100%;
  height: 100%;
    display: flex;
  align-items: center;
  justify-content: center;
}
.clients-icon {
  fill: #AFB1B8;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:hover,.clients-item:focus {
  border: 1px solid #2196f3;
}
.clients-item:hover .clients-icon ,
.clients-item:focus .clients-icon {
  fill: #2196f3;
}
/*----------------------------Футер----------------------------*/
.footer-sect {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-name-ft {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
}
.logo-web-ft {
  color: #2196f3;
}
.adress-ft {
  color: #ffffff;
}
.adress-sect {
  font-style: normal;
}
.link-cont-ft {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-name-ft,
.link-cont-ft {
  text-decoration: none;
}
.link-cont-ft:hover,
.link-cont-ft:focus {
  color: #ffffff;
}
.footer-item-list:not(:last-child) {
  margin-bottom: 9px;
}
.footer-container {
  display:flex;
  align-items: baseline;
}
.footer-left {
  margin-right: 70px;
}
.footer-right {
}
.join-title-footer {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: #FFFFFF;
text-transform: uppercase;
margin-bottom: 20px;
}
.join-link-list {
  display: flex;
  justify-content: center;
}
.join-link-item {
  width: 44px;
  height: 44px;
}
.join-link-item:not(:last-child) {
  margin-right: 10px;
}
.join-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1); 
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-icon {
fill: #ffffff;
}
.join-link:hover,
.join-link:focus {
  background-color: #2196F3;
}
/*--------------------------------------------------------ПОРТФОЛИО--------------------------------------------------------*/
/*Button - Кнопки*/
.hero-text-portfolio-cont {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-filter-sect {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.button-filter-list-portf:not(:last-child) {
  margin-right: 8px;
}
.button-filter:hover,
.button-filter:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: 0px;
  min-width: 73px;
  height: 38px;
  border-radius: 4px;
  display: inline-block;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/*----------------------------Галлерея----------------------------*/


.gallery-ral {
  position: relative;
  overflow: hidden;
  
}
.gallery-absolut {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.gallery-portf-link:hover  .gallery-absolut,
.gallery-portf-link:focus  .gallery-absolut{
  transform: translateY(-100%);
}
.gallery-absolut-text {
  position: absolute;
  top:63px;
  left:24px;
  right: 24px;
  bottom: 63px;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.03em;
  color: #FFFFFF;

}
.item-gallery-portf {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.gallery-portf-list {
  margin-right: 30px;
  flex-basis: calc(100% - 3 * 30px)/30px);
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-portf-list:hover,.gallery-portf-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text-filters {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.text-filters-p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.text-portf-photo-gallery {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
